.containerBox {
    height: 100%;
}

.tenThousandBg {
    height: 239px;
    background-image: url('../../assets/tenThousand.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}