<p>编辑-查询</p>
<!-- <div nz-row>
    <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
        Col
    </div>
    <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
        Col
    </div>
    <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
        Col
    </div>
    <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
        Col
    </div>
    <div nz-col nzXs="12" nzSm="2" nzMd="4" nzLg="4" nzXl="4">
        Col
    </div>
</div> -->
<div nz-row>
    <form nz-form [nzLayout]="vertical">
        <nz-form-item>
            <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
                <nz-form-label nzFor="email">E-mail</nz-form-label>
                <nz-form-control>
                    <input nz-input name="email" type="email" id="email">
                </nz-form-control>
            </div>
            <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
                <nz-form-label nzFor="email">E-mail</nz-form-label>
                <nz-form-control>
                    <input nz-input name="email" type="email" id="email">
                </nz-form-control>
            </div>
            <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
                <nz-form-label nzFor="email">E-mail</nz-form-label>
                <nz-form-control>
                    <input nz-input name="email" type="email" id="email">
                </nz-form-control>
            </div>
            <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
                <nz-form-label nzFor="email">E-mail</nz-form-label>
                <nz-form-control>
                    <input nz-input name="email" type="email" id="email">
                </nz-form-control>
            </div>
            <div nz-col nzXs="12" nzSm="2" nzMd="4" nzLg="4" nzXl="4">
                Col
            </div>
        </nz-form-item>
    </form>
</div>