<nz-page-header nzTitle="编辑-查询" nzSubtitle="This is a subtitle">
    <nz-page-header-content>
        <div nz-row>
            <form nz-form [nzLayout]="vertical" [formGroup]="validateForm" (ngSubmit)="onSubmit(validateForm.value)">
                <nz-form-item nzType="flex" nzJustify="start" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                    <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
                        <nz-form-label nzFor="topType">大类</nz-form-label>
                        <nz-form-control>
                            <nz-select style="width: 100%;" formControlName="select1" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose" name="topType" (ngModelChange)="topTypeChange($event)">
                                <nz-option nzValue="all" nzLabel="全部"></nz-option>
                                <nz-option nzValue="webView" nzLabel="前端"></nz-option>
                                <nz-option nzValue="backView" nzLabel="后端"></nz-option>
                                <nz-option nzValue="hack" nzLabel="渗透"></nz-option>
                                <nz-option nzValue="tools" nzLabel="工具"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                    <div nz-col nzXs="12" nzSm="3" nzMd="5" nzLg="5" nzXl="5">
                        <nz-form-label nzFor="selectCode">小类</nz-form-label>
                        <nz-form-control>
                            <nz-select style="width: 100%" formControlName="select2" nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="listOfSelectedValue" name="selectCode" (ngModelChange)="selectCodeChange($event)">
                                <nz-option nzLabel="全部" nzValue="all"></nz-option>
                                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzDisabled]="isNzDisabled"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>

                    <div nz-col nzXs="12" nzSm="2" nzMd="4" nzLg="4" nzXl="4" nzOffset="10" style="padding-top: 43px;">
                        <button type="submit" nz-button nzType="primary" style="width:55%"><i nz-icon nzType="search"></i>查询</button>
                    </div>
                </nz-form-item>
            </form>
        </div>
    </nz-page-header-content>
</nz-page-header>

<div class="addIcon">
    <span><i nz-icon nzType="plus-square" nzTheme="outline" style="font-size: 22px;" (click)="showModal()"></i></span>
</div>

<div>
    <nz-table #basicTable nzBordered [nzData]="allSelectData.getAllDataArr" nzShowPagination nzShowSizeChanger>
        <thead>
            <tr>
                <th>名称</th>
                <th>类别</th>
                <th>起始日</th>
                <th>终止日</th>
                <th>总时长</th>
                <th>編輯</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of allSelectData.getAllDataArr;let i = index">
                <ng-container *ngIf="i<10">
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1].type }}</td>
                    <td>{{ data[1].startTime }}</td>
                    <td>{{ data[1].endTime }}</td>
                    <td>{{ data[1].time }}</td>
                    <td>
                        <ng-container *ngIf="!data[1].edit; else saveTpl">
                            <!-- *ngIf="true; else saveTpl" -->
                            <a (click)="startEdit(i)">编辑</a>
                        </ng-container>
                        <ng-template #saveTpl>
                            <a (click)="saveEdit(i)">保存</a>&nbsp;&nbsp;
                            <a nz-popconfirm nzTitle="确定要删除吗?" (nzOnConfirm)="cancelEdit(i)">删除</a>
                        </ng-template>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- 新增弹框 -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="添加新项目" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div nz-row>
        <form nz-form [nzLayout]="vertical" [formGroup]="validateForm" (ngSubmit)="onSubmit(validateForm.value)">
            <nz-form-item nzType="flex" nzJustify="start" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                <div nz-col nzSpan="12">
                    <nz-form-label nzFor="topType">大类</nz-form-label>
                    <nz-form-control>
                        <nz-select style="width: 100%;" formControlName="select1" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose" name="topType" (ngModelChange)="topTypeChange($event)">
                            <nz-option nzValue="all" nzLabel="全部"></nz-option>
                            <nz-option nzValue="webView" nzLabel="前端"></nz-option>
                            <nz-option nzValue="backView" nzLabel="后端"></nz-option>
                            <nz-option nzValue="hack" nzLabel="渗透"></nz-option>
                            <nz-option nzValue="tools" nzLabel="工具"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-label nzFor="selectCode">小类</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入项目名称" [(ngModel)]="addValue" />
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nzType="flex" nzJustify="start" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                <div nz-col nzSpan="12">
                    <nz-form-label nzFor="topType">日期</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" [nzPlaceHolder]="['起始日', '截止日']"></nz-range-picker>
                    </nz-form-control>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-label nzFor="selectCode">时长</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="请输入项目总计时长" [(ngModel)]="addCountTime" />
                    </nz-form-control>
                </div>
            </nz-form-item>
        </form>
    </div>
</nz-modal>